.signin-google-container {
  width: 400px;

  button {
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border: transparent;
    background-color: #16059a;
    color: white;
    font: inherit;
    transition: all 0.8s ease-in-out;
    border-radius: 4px;
    
    &:hover {
      background-color: #5743ea;
    }
  }
}
