.signup-container {
  width: 400px;
  margin: 20px auto;

  button {
    width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    cursor: pointer;
    border: transparent;
    background-color: #b9831f;
    color: white;
    font: inherit;
    border-radius: 6px;
  }
}
