.signin-form-container {
  width: 400px;

  button {
    width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #1d1a18;
    background-color: white;
    color: #1d1a18;
    font: inherit;
    transition: all 0.8s ease-in-out;
    border-radius: 4px;

    &:hover {
      background-color: #1d1a18;
      color: white;
    }
  }
}
